@media all and (min-width: 830px)
	
	.fixed__fon
		position fixed
		top 0
		right 0
		bottom 0
		left 370px
		background-image url('../img/jpg/fon.jpg')
		background-size cover
		z-index 1
	
	.portfolio
		padding 50px 50px 0 50px

	.sidebar
		position fixed
		left 0
		top 0
		bottom 0
		width 390px
		margin 0 !important

@media all and (max-width: 830px)
	
	.portfolio
		background-color lightBlack
		margin 0
		
		.sidebar
			
			&__copyrite
				display none