@media all and (min-width: 830px)
	
	.fixed__fon
		position fixed
		top 0
		right 0
		bottom 0
		left 370px
		background-image url('../img/jpg/fon.jpg')
		background-size cover
		z-index 1

	.sidebar
		position fixed
		left 0
		top 0
		bottom 0
		width 390px
		margin 0 !important

@media all and (max-width: 830px)
	
	.portfolio
		padding 0 15px 40px 15px
		background-color lightBlack
		margin 0
		
		.sidebar
			
			&__name
				padding 50px 20px 20px 20px
			
			&__contact
				padding 35px
				margin 0 -15px
				
			
			&__copyrite
				display none